<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<div id="content">
		<div id="logo">
			<img src="../static/images/gif/logo.gif" alt="logo">
		</div>
		<ul id="nav">
			<li><a href="home.html">Home</a></li>
			<li><a href="forsale.html">For Sale</a></li>
			<li><a href="repairs.html">Repairs</a></li>
			<li><a href="about.html" class="on">About</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</div>
	<script src="../static/js/main.js"></script>
</body>
</html>